<footer class="container mt-3">
  <p>
    <a class="footer-nav" href="https://github.com/mandrasch/11ty-plain-bootstrap5" align="right">Powered by 11ty-plain-bootstrap5</a> · <a class="footer-nav" href="{{ '/pages/privacy/' | url }}">privacy</a> ·
    <a class="footer-nav" href="{{ '/pages/the-lab/' | url }}" align="right">the lab</a>
  </p>
</footer>
