<footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>
    <a class="footer-nav" href="https://github.com/mandrasch/11ty-plain-bootstrap5">Powered by 11ty-plain-bootstrap5</a> · <a class="footer-nav" href="{{ '/pages/privacy' | url }}">privacy</a> ·
    <a class="footer-nav" href="{{ '/pages/the-lab' | url }}">the lab</a>
  </p>
</footer>
