<div class="container py-4">
  <header class="pb-1 mb-4">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a href="{{ '/' | url }}" style="text-decoration: none;">
          {% image "./src/assets/images/lego-avatar.jpg", "img-avatar", "A Lego avatar of Eric Tuovila" %}
          <span class="text-dark p-1">{{ site.title }}</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">{% include "navigation.njk" %}</div>
        <div class="float-end" style="padding-left: 10px;">
          <label for="mode-toggle" class="switch" aria-label="Dark Mode Toggle">
          <input id="mode-toggle" type="checkbox" onclick="darkToggle()">
          <span class="slider round"></span>
          </label>
      </div>
      <span class="switch-label" style="padding-left: 6px; padding-right: 2px;"></span>
      </div>
    </nav>
  </header>
</div>
