---
meta:
  lang: en
  title: home
  description: eric tuovila's personal site
layout: base
eleventyNavigation:
  key: home
  hideInMainNav: false
---

<div class="p-4 mb-3 rounded-3" style="background-color: #005C5C;">
  <div class="container-fluid py-4">
    <h1 class="display-6 fw-bold text-light">{% image "./src/assets/images/waving-hand.png", "wave", "A waving hand", "48px" %} Hi, I'm eric!</h1>
    <p class="col-md-14 fs-5 mb-4 pt-2 text-light">
      I'm a self-taught, highly-motivated, and detail-oriented technical expert with a strong background in SaaS implementation and customer success. I'm passionate about finding creative solutions and better ways to work. I have a few small side projects, including mildly impactful home improvements, some home automation powered by various Docker containers, and playing the guitar. But <b>not</b> acoustic guitar.
    </p>
  </div>
</div>

<div class="row align-items-md-stretch">
  <div class="col-md-5 mt-4">
    <div class="p-4 pb-3 rounded-3 text-dark" style="background-color: #FC4C02;">
      <h2>Obligatory professional blurb</h2>
      <p class="pt-2">
        Because that's what we do.
        <br />
        <br />
        <a href="https://www.linkedin.com/in/etuovila" class="btn btn-outline-dark"">{% heroicon_solid "briefcase" %} LinkedIn</a>
      </p>
    </div>
  </div>
  <div class="col-md-7 mt-4">
    <div class="p-4 pb-3 rounded-3 text-light" style="background-color: #005778;">
      <h2>Endeavors</h2>
      <p class="pt-2">
        Sometimes I write code. Sometimes I play guitar. Not at the same time, though.
        <br />
        <br />
        <a href="https://github.com/only-devices/" class="btn btn-outline-light">{% heroicon_solid "command-line" %} GitHub</a>
        <a href="https://soundcloud.com/only_devices" class="btn btn-outline-light">{% heroicon_solid "bolt" %} Soundcloud</a>
      </p>
    </div>
  </div>
</div>
<!-- Modal -->
      <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="infoModalLabel">Placeholder title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
              <div class="mb-4 bg-light rounded-3">
                <div class="container-fluid py-2">
                  <div class="modal-body">Placeholder content</div>
                </div>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row mt-3">
</div>

<!-- for debug: {{ site | dump }} {{page | dump }} {{meta | dump}}-->
