@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
body {
  font-family: 'Oswald', serif;
  display:block !important;
}

/* Clean up that modal */
.modal-header, .modal-footer {
  border: none;
}

/* Dark mode styling */
.dark {
  color: #f9f9f9 !important;
  background-color: #222 !important;
  border-color: #f9f9f9 !important;
}

/* Heroicon styling */
[data-heroicon-style="outline"] {
  width: 20px;
}

[data-heroicon-style="solid"] {
  width: 20px;
}

[data-heroicon-name] {
  padding-bottom: 4px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: orangered !important;
}

input:focus + .slider {
  box-shadow: 0 0 1px orangered !important;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 22px;
}

.slider.round:before {
  border-radius: 50%;
}

.wave {
  animation: shake 2s;
  animation-iteration-count: 2;
}

.img-avatar {
  border-radius: 50%;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(40deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.footer-nav {
  text-decoration: none;
  color: var(--primary-color);
  border-radius: var(--border-radius);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* for bootstrap-icons (svg) */
.bi {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: -0.125em;
}

.img-fit-cover-container {
  &.rounded-3 {
    picture img {
      border-radius: 0.3rem !important;
    }
  }

  picture {
    width: 100%;
    height: 100%;
    display: flex;
  }

  picture img {
    object-fit: cover;
    height: auto;
    width: 100%;
  }
}