@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body {
  font-family: 'Oswald', serif;
  display: block !important;
}

header {
  background-color: inherit;
  color: inherit;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-7,
.col-md-5 {
  display: flex;
  flex-direction: column;
}

.col-md-7>div,
.col-md-5>div {
  flex-grow: 1;
}

// Book grid styling
.book-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.book-container {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.book-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.rating-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.book-container:hover .rating-overlay {
  opacity: 1;
}
.star-rating {
  font-size: 16px;
  color: gold;
  position: absolute;
  top: 85%;
  left: 5%;
}
.star-rating::before {
  content: '★★★★★';
}

// Clean up that modal
.modal-header,
.modal-footer {
  border: none;
}

// Fix annoying link styling
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #888aff;
}

// NEW Dark Mode styling
body,
header * {
  transition:
    background-color 0.3s ease
}

.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 24px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: none;
  transition: .6s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  background-color: none;
  transition: .6s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: none;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 20px;
}

.moon {
  left: 0px;
}

.sun {
  right: 0px;
  opacity: 0;
}

input:checked+.slider .moon {
  opacity: 0;
}

input:checked+.slider .sun {
  opacity: 1;
}

// Keep dark mode toggle in upper right corner always
.float-end {
  position: absolute;
  max-width: 30%;
  top: 40%;
  right: 1%;
  z-index: 1000;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
@media (max-width: 768px) {
  .float-end {
    top: 27%;
    right: 10%;
  }
}

.wave {
  animation: shake 2s;
  animation-iteration-count: 2;
}

.img-avatar {
  border-radius: 50%;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(40deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.footer-nav {
  text-decoration: none;
  color: var(--primary-color);
  border-radius: var(--border-radius);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

}

// for bootstrap-icons (svg)
.bi {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: -0.125em;
}

.img-fit-cover-container {
  &.rounded-3 {
    picture img {
      border-radius: 0.3rem !important;
    }
  }

  picture {
    width: 100%;
    height: 100%;
    display: flex;
  }

  picture img {
    object-fit: cover;
    height: auto;
    width: 100%;
  }
}